:root {
	--text-color: white;

	/* Environment */
	--sun-x: 0;
	--sun-y: -1;
	--sky-color: #101a2a;
	--fog-color: #000000;
	--sun-color: #ffd700;
	--sun-glow-color: #fffae0;
}

:focus-visible {
	outline: 2px outset #ffffffb0;
	outline-offset: 2px;
	overflow: visible;
}

::selection {
	color: inherit;
	background: #0080ff60;
}

html {
	scroll-behavior: smooth;
	font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	font-weight: 400;
	background: linear-gradient(to bottom, var(--sky-color), var(--fog-color));
	min-height: 100vh
}

body {
	max-width: 512px;
	margin: 0 auto;
	color: var(--text-color);
	overflow-x: hidden;
}
